<nav class="navbar shadow-sm fixed-top bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="https://f5457f22-0783-4aaf-a79e-73b756ccfeb9-00-c3i0m9ipwmte.pike.replit.dev/">
      <img src="https://media.istockphoto.com/id/1369890290/photo/cyberpunk-urban-samurai.jpg?s=2048x2048&w=is&k=20&c=2Xay-WWWUddVPm2AoMl3Yve2xi7gBaYF8v01NvvmaRM=" alt="" width="30" height="24" class="d-inline-block align-text-top">
      NinjaForge
    </a>
  </div>
</nav>
<div style="height:56px"></div>